<nav class="navbar navbar-expand-sm navbarcustom" >
  	<ul class="navbar-nav mx-auto" >
    	<li class="navbar-brand navbarcustom">
     		Vinoteka
    	</li>
    	<li class="nav-item">
			<a routerLink="/" class="nav-link">
				Home
			</a>     
		</li>
		<li class="nav-item">
			<a routerLink="/booklist" class="nav-link" (click)="svevino()">
				Vino
			</a>    
		</li>
		<li class="nav-item">
			<a routerLink="/booklist" class="nav-link" (click)="najpopularnije()">
				Najpopularnije
			</a>			   
		  </li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
				Dodavanje
			</a>
			<div class="dropdown-menu">
				<a routerLink="/dodajvino" class="dropdown-item">Dodaj vino</a>
			</div>
		</li>
		<li class="nav-item">
				<input class="form-control mr-sm-3" type="text" placeholder="Search.." (input)="searchImpl($event)"/>
		</li>
  	</ul>
</nav>

