<div class="forma form-group">
    <p><span class="labela">Naziv: </span> <input [(ngModel)]="vino.naziv" /></p>
    <p><span class="labela">Vrsta: </span> <input [(ngModel)]="vino.vrsta" /></p>
    <p><span class="labela">Procenat:</span> <input [(ngModel)]="vino.procenat" /></p>
    <p><span class="labela">Berba: </span> <input [(ngModel)]="vino.berba" /></p>
    <p><span class="labela">Cena: </span> <input [(ngModel)]="vino.cena" /></p>
    <button type='button' (click)="addVino()">Dodaj vino</button>
</div>